@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');


#app {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#about-h1 {
    height: 30vh;
    display: flex;
    justify-content: center;
    text-shadow: -2px -2px 0em #000;
    font-size: 84px;
    text-align: center;
    align-items: center;
    font-weight: 300;
    color: white;
    margin: 0;
    padding: 10%;
}

.card {
    height: 100%;
    overflow: auto;
    border-radius: 0;
    border: none;
    background: linear-gradient(to top left, white 50%, cyan 50%);
    background-size: 100% 100%;
}

.card-body {
    background: lightslategrey;
    color: white;
    padding: 3em;
}

.card-img-top {
    border-radius: 0;
}

/* #about-div {
    width: 90%;
    height: auto;
    text-align: center;
    height: 45vh;
    overflow: auto;
    font-weight: normal;
    font-size: 1.1rem;
    background: rgba(0, 0, 0, 0.5);
    background: url(../images/van-halen.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} */

/* h2 {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: -2px -2px 0em #000;
    font-size: 64px;
    color: white;
    font-weight: 300;
} */

#navbarTogglerDemo03 {
    background-image: linear-gradient(-45deg, yellow 25%, black 25%, black 50%, yellow 50%, yellow 75%, black 75%, black 100%);
    background-repeat: repeat;
}

a.nav-link:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}


#about-section {
    height: 90vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}








#bottom {
    height: 10vh;
    font-size: 32px;
    background-color: #393D47;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid white;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, .2);
    align-items: center;

}

#bottom i:nth-of-type(1) {
    color: red;
}

#bottom i:nth-of-type(2) {
    color: green;
}

#bottom i:nth-of-type(3) {
    color: blueviolet;
}

#bottom i:nth-of-type(4) {
    color: dodgerblue;
}


.navbar,
#navvy {
    height: 10vh;
    z-index: 3;
}

#navvy {
    background-color: deeppink;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
}

#nav-ul {
    display: flex;
    align-items: center;
    padding: 1em;
    justify-content: space-evenly;
}


div#about.container {
    height: 50%;
    overflow: auto;
    color: white;
}



@media(min-width: 576px) {}

@media(min-width: 768px) {}

@media(max-width: 991px) {
    .navbar-brand {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #navbarTogglerDemo03 {
        position: fixed;
        width: 100%;
        top: 10vh;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    }

    #nav-ul>li>a {
        color: white;
        mix-blend-mode: difference;
        text-shadow: -1px -1px 0em #000;
    }
    #home-mobile {
        text-shadow: -1px -1px 0em #000;
        font-size: 2em;
    }
    
    .nav-link {
        text-shadow: -1px -1px 0em #000;
    }

    #home-lg {
        display: none;
    }
}

@media (min-width: 992px) {
    #navbarTogglerDemo03 {
        background: transparent;
    }

    #nav-ul>li>a {
        color: white;
        text-shadow: -1px -1px 0em #000;
    }

    #about-div {
        width: 77%;
    }

}

@media (min-width: 1200px) {
    #about-div {
        width: 56%;
    }

}

@media (min-width: 1400px) {
    #about-div {
        font-size: 1.3rem;
    }
}