body {
    background: linear-gradient(to top left, white 50%, cyan 50%);
}

.table {
    margin-bottom: 3em;
}

#contact-page {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    background-color: rgba(0, 255, 255, 0.9);
    background-attachment: fixed;
    background-position: center;
}


h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: -2px -2px 0em #000;
    font-size: 64px;
    color: white;
    font-weight: 300;
}

#section1 {
    width: 100%;
    max-width: 100%;
}

#section1 {
    background: linear-gradient(to top left, white 50%, cyan 50%);
    background-size: 100% 100%;
}

/* Header/Navbar CSS: */
.navbar,
#navvy {
    height: 10vh;
    z-index: 3;
}

#navvy {
    background-color: deeppink;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    align-content: center;
    padding: 0;
}

#nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.1rem;
}

#navbar-mobile-dropdown {
    background-image: linear-gradient(-45deg, yellow 25%, black 25%, black 50%, yellow 50%, yellow 75%, black 75%, black 100%);
    background-repeat: repeat;
}

.nav-link:hover .bi,
.nav-link:hover #guitar-icon,
.nav-link:hover #home-mobile-icon,
.nav-link:hover #home-icon,
.nav-link:hover #media-icon,
.nav-link:hover #about-icon,
.nav-link:hover #merch-icon {
    filter: brightness(79%);
}

svg#media-icon {
    margin-right: 0.5rem;
}

.nav-link:hover span {
    text-decoration: underline;
    text-underline-offset: 8px;
}

#home-mobile-icon {
    font-size: 1.3rem;
}

.nav-link>span {
    text-shadow: -1px -1px 0em #000;
    font-size: 1.2rem;
}

.nav-item {
    display: flex;
    align-items: center;
}

.bi {
    display: flex;
}







#section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}


tr .continent-td {
    background-color: yellow;
    text-align: center;
}






/* Footer: */
#bottom {
    height: 10vh;
    font-size: 2rem;
    background-color: #393D47;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid white;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, .2);
    align-items: center;

}

.footer-link {
    text-decoration: none;
}

#youtube-link {
    color: #FF0000;
}

#youtube-link:hover .bi {
    filter: brightness(79%);
}

#spotify-link {
    color: #1DB954;
}

#spotify-link:hover .bi {
    filter: brightness(79%);
}

#instagram-link {
    color: #8a3ab9
}

#instagram-link:hover .bi {
    filter: brightness(79%)
}

#facebook-link {
    color: #4267B2
}

#facebook-link:hover .bi {
    filter: brightness(79%);
}








@media(min-width: 576px) {}

@media(min-width: 768px) {}

@media(max-width: 991px) {
    .navbar-brand {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #navbar-mobile-dropdown {
        position: fixed;
        width: 100%;
        top: 10vh;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    }

    #nav-ul>li>a {
        color: white;
        mix-blend-mode: difference;
    }

    #home-lg,
    #house-lg {
        display: none;
    }

}

@media (min-width: 992px) {
    #navbar-mobile-dropdown {
        background: transparent;
    }

    #nav-ul>li>a {
        color: white;
    }



    #home-lg {
        display: flex;
    }

    #home-icon {
        font-size: 1.3rem;
    }
}

@media(min-width: 992px) and (max-width: 1200px) {}

@media(min-width: 1200px) {
    #navvy{padding: 0 3em;}

    h2 {
        height: 20vh;
        align-items: normal;
        margin-top: 10vh;
    }
}

