/* Body: */
#contact-page {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  background-color: rgba(0, 255, 255, 0.9);
  background-attachment: fixed;
  background-position: center;
}

/* Header/Navbar CSS: */
.navbar,
#navvy {
  height: 10vh;
  z-index: 3;
}

#navvy {
  background-color: deeppink;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  align-content: center;
  padding: 0;
}

#nav-ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.1rem;
}

#navbar-mobile-dropdown {
  background-image: linear-gradient(
    -45deg,
    yellow 25%,
    black 25%,
    black 50%,
    yellow 50%,
    yellow 75%,
    black 75%,
    black 100%
  );
  background-repeat: repeat;
}

.nav-link:hover .bi,
.nav-link:hover #guitar-icon,
.nav-link:hover #home-mobile-icon,
.nav-link:hover #home-icon,
.nav-link:hover #media-icon,
.nav-link:hover #about-icon,
.nav-link:hover #merch-icon {
  filter: brightness(79%);
}

svg#media-icon {
  margin-right: 0.5rem;
}

.nav-link:hover span {
  text-decoration: underline;
  text-underline-offset: 8px;
}

#home-mobile-icon {
  font-size: 1.3rem;
}

.nav-link > span {
  text-shadow: -1px -1px 0em #000;
  font-size: 1.2rem;
}

.nav-item {
  display: flex;
  align-items: center;
}

.bi {
  display: flex;
}

/* Main: */
h1,
h2,
h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: -2px -2px 0em #000;
  color: white;
  font-weight: 300;
  word-spacing: 0.3em;
}
form {
  width: 70%;
}
#section1 {
  background: linear-gradient(to top left, white 50%, #ffbcd9 50%);
  background-size: 100% 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#vh-mail-img {
  height: 300px;
  width: 100%;
}
#vh-tour-img {
  height: 300px;
}
.table {
  margin-bottom: 3em;
}
#section2 {
  background: linear-gradient(to top right, white 50%, yellow 50%);
  background-size: 100% 100%;

  scroll-margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#section3 {
  background: linear-gradient(to top left, white 50%, black 50%);
  background-size: 100% 100%;

  scroll-margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

tr .continent-td {
  background-color: yellow;
  text-align: center;
}

#arrow-container1,
#arrow-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: bounce-fade 1s ease infinite;
}
.arrow,
.arrow,
.arrow {
  border: 3px solid #c0c0c0;
  border-left: 0;
  border-top: 0;
  height: 32px;
  transform: rotate(45deg);
  width: 32px;
}
#section2-arrow {
  margin-top: -1em;
}

@keyframes bounce-fade {
  0%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(-20px);
    opacity: 0.5;
  }
}

/* Footer: */
#bottom {
  height: 10vh;
  font-size: 2rem;
  background-color: #393d47;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid white;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.footer-link {
  text-decoration: none;
}

#youtube-link {
  color: #ff0000;
}

#youtube-link:hover .bi {
  filter: brightness(79%);
}

#spotify-link {
  color: #1db954;
}

#spotify-link:hover .bi {
  filter: brightness(79%);
}

#instagram-link {
  color: #8a3ab9;
}

#instagram-link:hover .bi {
  filter: brightness(79%);
}

#facebook-link {
  color: #4267b2;
}

#facebook-link:hover .bi {
  filter: brightness(79%);
}

/* Breakpoints: */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .arrow,
  .arrow,
  .arrow {
    height: 48px;
    width: 48px;
  }
}

@media (max-width: 991px) {
  .navbar-brand {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #navbar-mobile-dropdown {
    position: fixed;
    width: 100%;
    top: 10vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  #nav-ul > li > a {
    color: white;
    mix-blend-mode: difference;
  }

  #home-lg,
  #house-lg {
    display: none;
  }
}

@media (min-width: 992px) {
  #navbar-mobile-dropdown {
    background: transparent;
  }

  #nav-ul > li > a {
    color: white;
  }

  #home-lg {
    display: flex;
  }

  #home-icon {
    font-size: 1.3rem;
  }
  #section1,
  #section2,
  #section3 {
    height: 90vh;
  }
  #vh-mail-img {
    height: auto;
    width: auto;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
}

@media (min-width: 1200px) {
  #navvy {
    padding: 0 3em;
  }
}
