/* Body: */
#news-page {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

/* Header/Navbar CSS: */
.navbar,
#navvy {
  height: 10vh;
  z-index: 3;
}

#navvy {
  background-color: deeppink;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  align-content: center;
  padding: 0;
}

#nav-ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.1rem;
}

#navbar-mobile-dropdown {
  background-image: linear-gradient(
    -45deg,
    yellow 25%,
    black 25%,
    black 50%,
    yellow 50%,
    yellow 75%,
    black 75%,
    black 100%
  );
  background-repeat: repeat;
}

.nav-link:hover .bi,
.nav-link:hover #guitar-icon,
.nav-link:hover #home-mobile-icon,
.nav-link:hover #home-icon,
.nav-link:hover #media-icon,
.nav-link:hover #about-icon,
.nav-link:hover #merch-icon {
  filter: brightness(79%);
}

svg#media-icon {
  margin-right: 0.5rem;
}

.nav-link:hover span,
.active span{
  text-decoration: underline;
  text-underline-offset: 8px;
}

#home-mobile-icon {
  font-size: 1.3rem;
}

.nav-link > span {
  text-shadow: -1px -1px 0em #000;
  font-size: 1.2rem;
}

.nav-item {
  display: flex;
  align-items: center;
}

.bi {
  display: flex;
}

/* Main: */
#news-h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: -2px -2px 0em #fff;
  color: black;
  font-weight: normal;
  text-align: center;
  font-family: lato;
  word-spacing: 0.3em;
  background-color: transparent;
}
#news-section {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  max-width: 100%;
  background: linear-gradient(to top left, white 50%, #ffd700 50%);
}
.container {
  overflow: auto;
}

#new-album-container {
  margin-bottom: 3em;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 70% 100%, 0 100%);
  background: black;
  border: 5px solid black;
  border-radius: 0.3rem;
}
#new-album-inner-container {
  clip-path: polygon(0 0, 100% 0, 100% 90.5%, 71% 100%, 0 100%);
  padding-right: 0;
}

#new-album-info,
#new-album-img {
  background: lightslategray;
  display: inherit;
  flex-direction: column;
  justify-content: center;
  padding: 3em;
  color: white;
  font-weight: normal;
}
#new-album-info {
  border-bottom: 3px solid white;
}

#preorder-link {
  text-decoration: none;
}

/* Footer: */
#bottom {
  height: 10vh;
  font-size: 32px;
  background-color: #393d47;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid white;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2);
  align-items: center;
}
.footer-link {
  text-decoration: none;
}
#youtube-link {
  color: #ff0000;
}

#youtube-link:hover .bi {
  filter: brightness(79%);
}

#spotify-link {
  color: #1db954;
}

#spotify-link:hover .bi {
  filter: brightness(79%);
}

#instagram-link {
  color: #8a3ab9;
}

#instagram-link:hover .bi {
  filter: brightness(79%);
}

#facebook-link {
  color: #4267b2;
}

#facebook-link:hover .bi {
  filter: brightness(79%);
}

/* Breakpoints: */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  #new-album-container {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 80% 100%, 0 100%);
  }
  #new-album-inner-container {
    clip-path: polygon(0 0, 100% 0, 100% 91%, 82% 100%, 0 100%);
    padding-right: 0;
  }
  #new-album-info {
    border-bottom: none;
    border-right: 3px solid white;
  }
}

@media (max-width: 991px) {
  .navbar-brand {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #navbar-mobile-dropdown {
    position: fixed;
    width: 100%;
    top: 10vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  #nav-ul > li > a {
    color: white;
    mix-blend-mode: difference;
  }

  #home-mobile-icon {
    color: white;
    font-size: 1.3rem;
  }

  #home-lg,
  #house-lg {
    display: none;
  }
}

@media (min-width: 992px) {
  #navbar-mobile-dropdown {
    background: transparent;
  }

  #nav-ul > li > a {
    color: white;
  }

  #home-lg {
    display: flex;
  }

  #home-icon {
    font-size: 1.3rem;
  }

  #about-div {
    width: 77%;
  }
  #new-album-container {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0 100%);
  }
  #new-album-inner-container {
    clip-path: polygon(0 0, 100% 0, 100% 81%, 81% 100%, 0 100%);
    padding-right: 0;
  }
}

@media (min-width: 1200px) {
  #navvy {
    padding: 0 3em;
  }

  #about-div {
    width: 56%;
  }
}

@media (min-width: 1400px) {
  #about-div {
    font-size: 1.3rem;
  }
}
