@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');


#app {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    width: 100%;
    max-width: 100%;



}

#main {
    background: linear-gradient(to top left, white 50%, #FFD700
    50%);
}

#news-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-shadow: -2px -2px 0em #000;
    color: white; */
     text-shadow: -2px -2px 0em #fff;
    color: black;
    font-weight: normal;
    text-align: center;
    font-family: lato;
    padding: 10%;
    word-spacing: 0.3em;
    background-color: transparent;
}

.card {
    height: 60vh;
    overflow: auto;
    border: none;
    margin: 0;
    background: transparent;
}

.card-img-top {
    width: 50%;
}

.card-body {
    background: lightslategrey;
    color: white;
    width: 50%;
}

#navbarTogglerDemo03 {
    background-image: linear-gradient(-45deg, yellow 25%, black 25%, black 50%, yellow 50%, yellow 75%, black 75%, black 100%);
    background-repeat: repeat;
}

.nav-link:hover .bi,
.nav-link:hover #guitar,
.nav-link:hover #home-mobile-icon,
.nav-link:hover #media-icon,
.nav-link:hover #about-icon,
.nav-link:hover #merch-icon {
    filter: brightness(79%);
}

svg#media-icon {
    margin-right: 0.5rem;
}

.nav-link:hover span {
    text-decoration: underline;
    text-underline-offset: 8px;
}

#house-mobile-icon {
    font-size: 1.3rem;
}

.nav-link>span {
    text-shadow: -1px -1px 0em #000;
    font-size: 1.2rem;
}

.nav-item {
    display: flex;
    align-items: center;
}

.bi {
    display: flex;
}


#news-section {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    max-width: 100%;
}





#bottom {
    height: 10vh;
    font-size: 32px;
    background-color: #393D47;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid white;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, .2);
    align-items: center;

}

#bottom i:nth-of-type(1) {
    color: red;
}

#bottom i:nth-of-type(2) {
    color: green;
}

#bottom i:nth-of-type(3) {
    color: blueviolet;
}

#bottom i:nth-of-type(4) {
    color: dodgerblue;
}


.navbar,
#navvy {
    height: 10vh;
    z-index: 3;
}

#navvy {
    background-color: deeppink;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    align-content: center;
    padding: 0;
}

#nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.1rem;
}

.container {
    overflow: auto;
}

#new-album-container {
    margin-bottom: 3em;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 70% 100%, 0 100%);

}

#new-album-info,
#new-album-img {
    background: lightslategray;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    padding: 3em;
    color: white;
    font-weight: normal;
}


@media(min-width: 576px) {}

@media(min-width: 768px) {
    #new-album-container{
        clip-path: polygon(0 0, 100% 0, 100% 90%, 80% 100%, 0 100%);
    }
}

@media(max-width: 991px) {
    .navbar-brand {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #navbarTogglerDemo03 {
        position: fixed;
        width: 100%;
        top: 10vh;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    }

    #nav-ul>li>a,
    .bi {
        color: white;
        mix-blend-mode: difference;
    }

    #home-mobile-icon {
        color: white;
        mix-blend-mode: normal;
    }

    svg#house-mobile-icon:hover {
        filter: brightness(79%);
    }


    #home-lg,
    #house-lg {
        display: none;
    }
}

@media (min-width: 992px) {
    #navbarTogglerDemo03 {
        background: transparent;
    }

    #nav-ul>li>a {
        color: white;
    }

    #home-lg {
        display: flex;
    }

    #home-mobile-icon {
        font-size: 1.3rem;
    }

    #about-div {
        width: 77%;
    }
    #new-album-container{
        clip-path: polygon(0 0, 100% 0, 100% 80%, 80% 100%, 0 100%);
    }

}

@media (min-width: 1200px) {
    #navvy {
        padding: 0 3em;
    }

    #about-div {
        width: 56%;
    }

}

@media (min-width: 1400px) {
    #about-div {
        font-size: 1.3rem;
    }
}